.App {
	text-align: center;
	display: grid;
	grid-template-columns: 250px 1fr 1fr;
	grid-template-rows: 250px 3fr;
}
.header {
	background-color: black;
	color: white;
	grid-column: 2 / span 2;
}
nav {
	background-color: grey;
	color: white;
	grid-column: 1 / span 1;
	grid-row: 2 / span 2;
}
main {
	background-color: rgb(206, 200, 200);
	grid-column: 2 / span 2;
}
