@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.App {
	text-align: center;
	display: grid;
	grid-template-columns: 250px 1fr 1fr;
	grid-template-rows: 250px 1fr;
	gap: 10px 10px;
	padding: 10px;
	background: rgb(240, 255, 0);
	background: -moz-linear-gradient(
		0deg,
		rgba(240, 255, 0, 1) 0%,
		rgba(2, 14, 2, 1) 50%
	);
	background: -webkit-linear-gradient(
		0deg,
		rgba(240, 255, 0, 1) 0%,
		rgba(2, 14, 2, 1) 50%
	);
	background: linear-gradient(
		0deg,
		rgba(240, 255, 0, 1) 0%,
		rgba(2, 14, 2, 1) 50%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0ff00",endColorstr="#020e02",GradientType=1);
}
.home {
}
.header {
	display: flex;
	background-color: black;
	background-image: url('philip-k-dick.jpg');
	background-position: top 30% right;
	background-size: cover;
	color: black;
	grid-column: 1 / span 3;
	grid-row: 1;
	border-radius: 12px;
	align-items: flex-start;
	padding: 40px;
	font-family: 'Krona One', sans-serif;
}
.title {
	font-size: 75px;
	margin: 0 auto;
	text-shadow: -2px 2px rgba(201, 191, 191, 0.58);
}
h2 {
	font-size: 12px;
}
nav {
	background-color: grey;
	color: white;
	grid-column: 1 / span 1;
	grid-row: 2 / span 2;
	border-radius: 12px;
	height: 750px;
	overflow-y: auto;
}
main {
	background-color: rgb(206, 200, 200);
	grid-column: 2 / span 2;
	grid-row: 2 / span 2;
	border-radius: 12px;
	padding: 50px;
}
